# {{ ansible_managed }}
url="{{ sumologic_collector_url }}"
accessid="{{ sumologic_collector_accessid }}"
accesskey="{{ sumologic_collector_accesskey }}"
syncSources="{{ sumologic_sources_dir }}"
ephemeral=true